* {
    justify-content: center;
    text-align: center;
}
body {
    background-color: white;
}
#testdiv {
    width:1000px;
    
    margin:auto;
    background-color: pink;
    padding-inline: 10%;
}