* {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}
body {
    max-width: 90%;
    padding-inline: 15%;
    background-color: black;
    font-family: Andale Mono, monospace;
}
#header {
}
#maincontent {
   background-color: purple;
}
#imgbackground {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
#headerimg {

}
#navbartoplevel {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    /* transform: skewX(5deg); */
    
    
}
#navbartoplevel div {
    
    
}
.navbuttoncontainer {
    min-width: 26%;
    padding-inline: 5%;
}
.navbutton {
    font-size: 1.6vw;
    font-weight: 300;
    background-color: black;
    color: white;
    border-radius: 40%;
    padding: 12.5%;
}
/* .newbutton {
    background-color: black;
    color: white;
    border-radius: 10em;
    font-size: 14px;
    font-family: Andale Mono, monospace;
    font-weight: 300;
    padding: 1em 2em;
    padding-inline: 3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    box-shadow: 0 0 0 0 white;
  }
  
.newbutton:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgb(218, 167, 235);
};
  
.newbutton:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}; */