* {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-family: Andale Mono, monospace;
}
body {

    padding-inline: 5%;
    background-color: black;
}
#header {
    padding-bottom: 2%;
}
#imgbackground {
    height: 100%;
    max-height: 190px;
    min-width: 150px;
    padding-top: 1%;
   
}
#headerimg {
    width: 100%;
    height: 100%;
    min-height: 130px;
    max-width: 400px;
    max-height: 200px;

}
#navbartoplevel {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.navbuttoncontainer {
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 180px;
    padding-inline: 5%;
}
.navbutton {
    transform: skewX(5deg);
    font-size: max(1vw, 11px);
    font-weight: 300;
    background-color: black;
    color: white;
    border-radius: 10em;
    padding: 7%;
    padding-inline: 10%;
    border: 1px solid white;
    box-shadow: 0 0 0 0 white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-width: 90px;
    max-width: 140px;
}
.navbutton:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgb(218, 167, 235);
}
  
.navbutton:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

#maincontent {}

#aboutmeparagraph {
    color: white;
}

#commissionformouter {
    background-color: white;
    color: black;
    border-radius: 5em;
}